* {
    box-sizing: border-box;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #E3E3E3;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.colored-strip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #6F7DFB,#26308C); /* Replace with your desired color */
  margin: 0;
  padding: 20px;
  flex: 1;
}

#strip-text{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  
}

img{
  display: block;
  left: auto;
  right: auto;
  object-fit: contain;
}
#logo{
  position: relative;
  width: 100%;
  height: 250px;
  
}

.login-section{
  padding-top: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.note{
  margin-top: 30px;
}

.login-box {
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,.6);
  border-radius: 10px;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

/* form box */
.login-box .user-box {
  position: relative;
}
/*login page input field  */
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  outline: none;
}
/*login page input field label */
.login-box .user-box label {
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}
/* Position the icon inside the input field */
.password-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot-password{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-decoration: underline;
  size: 16px;
}

.btn.login-button{
  background-color: #070917; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  width: 130px;
}
.offscreen{
  font-size: 0px;
}
.errmsg{
  color: red;
  font-weight: bold;
  align-self: center;
}

.btn.login-button:hover{
  background-color: #0d1129;
  color: white;
}

.info{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.note{
  margin-top: none;
  font-size: 16px;
  font-weight: normal;
}

/* admin styles go after this comment */

/* admin navbar styles go after this comment */
.sidebar
{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width:80px;
  background-color:white ;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
}
.sidebar.active ~ .main-content
{
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active
{
  width: 250px;
}

.sidebar #btn
{
  position: absolute;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn
{
  left: 90%;
}

.sidebar .top .logo-sidebar{
  
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo-sidebar{
  opacity: 1;
  pointer-events: none;
}


.top .logo-sidebar .nav-logo{
  height: 200px;
  width: 200px;
}

.user{
  display: flex;
  margin: 1rem;
}
.user p{
  color: black;
  margin-left: 1rem;
  opacity: 1;
  font-size: 1.1rem;
}
.user .bold em{
 font-style: normal;
}
.bold{
  font-weight: 600;
}

.sidebar p 
{
  opacity: 0;
}

.sidebar.active p 
{
  opacity: 1;
}
.sidebar .user .initials{
  opacity: 1;
  margin: auto;
  font-size: 1.3rem;
}
.sidebar.active .user .initials  
{
  opacity: 0;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li .an{
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li .an:hover{
  background-color: #6F7DFB;
  color: white;
}

.sidebar ul li .logout:hover{
  background-color: #DA722C;
  color: white;
}

.sidebar ul li .an i{
  min-width: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}

.sidebar .nav-item
{
  opacity: 0;
}
.sidebar.active .nav-item
{
  opacity: 1;
}
.sidebar ul li .tooltip
{
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0  ;
}
.sidebar ul li:hover .tooltip
{
  opacity: 1;
}
.sidebar.active ul li .tooltip
{
 display: none;
}

.main-content{
  position: relative;
  background-color: #eff6fc ;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px); 
  padding: 1rem;
}
/* student styles go after this comment */




/* career center styles go after this comment */






/* coordinator styles go after this comment */
