* {
    box-sizing: border-box;
    color: #333;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
  background-color: #eff6fc ;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
.header-title{
  color: #023047;
}
 .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

.colored-strip {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #6F7DFB,#26308C); /* Replace with your desired color */
  margin: 0;
  padding: 20px;
  flex: 1;
}

#strip-text{
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  
}

img{
  display: block;
  left: auto;
  right: auto;
  object-fit: contain;
}
#logo{
  position: relative;
  width: 100%;
  height: 250px;
  
}

.login-section{
  padding-top: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.note{
  margin-top: 30px;
}

.login-box {
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0,0,0,.6);
  border-radius: 10px;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.shake {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-10px, 0); }
  20% { transform: translate(10px, 0); }
  30% { transform: translate(-10px, 0); }
  40% { transform: translate(10px, 0); }
  50% { transform: translate(-10px, 0); }
  60% { transform: translate(10px, 0); }
  70% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  90% { transform: translate(-10px, 0); }
  100% { transform: translate(0, 0); }
}


/* form box */
.login-box .user-box {
  position: relative;
}
/*login page input field  */
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  outline: none;
}

.shake input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  outline: none;
  border: 1px solid red;
}

/*login page input field label */
.login-box .user-box label {
  position: relative;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}
/* Position the icon inside the input field */
.password-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.forgot-password{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  text-decoration: underline;
  size: 16px;
}

.btn.login-button{
  background-color: #070917; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 25px;
  width: 130px;
}
.offscreen{
  font-size: 0px;
}
.errmsg{
  color: red;
  font-weight: 500;
  align-self: center;
  margin-bottom: 15px;
}
.successmsg{
  color: #2ecc71;
  font-weight: 500;
  align-self: center;
  margin-bottom: 15px;
}

.btn.login-button:hover{
  background-color: #0d1129;
  color: white;
}

.info{
  margin-top: 25px;
  font-size: 20px;
  font-weight: bold;
}
.note{
  margin-top: none;
  font-size: 16px;
  font-weight: normal;
}
.last{
  margin-bottom: 50px;
}



/* admin styles go after this comment */

/* admin navbar styles go after this comment */
.sidebar
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width:80px;
  background-color:white ;
  padding: .4rem .8rem;
  transition: all 0.5s ease;
}
.sidebar.active ~ .main-content
{
  height: 100%;

  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active
{
  height: 100%;
  width: 250px;
}

.sidebar #btn
{
  position: absolute;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}
.sidebar.active #btn
{
  left: 90%;
}

.sidebar .top .logo-sidebar{
  
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.sidebar.active .top .logo-sidebar{
  opacity: 1;
  pointer-events: none;
}


.top .logo-sidebar .nav-logo{
  height: 200px;
  width: 200px;
}

.user{
  display: flex;
  margin: 1rem;
}
.user p{
  color: black;
  margin-left: 1rem;
  opacity: 1;
  font-size: 1.1rem;
}

.bold{
  color:#023047;
  font-weight: bold;
}
.user .bold{
  color:#023047;
  font-weight: bold;
}

.sidebar p 
{
  opacity: 0;
}

.sidebar.active p 
{
  opacity: 1;
}
.sidebar .user .initials{
  opacity: 1;
  margin: auto;
  font-size: 1.3rem;
  font-weight: bold;
  color: #023047;
}
.sidebar.active .user .initials  
{
  opacity: 0;
}

.sidebar ul li{
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li .an{
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li .an:hover{
  background-color: #6F7DFB;
  color: white;
}

.sidebar ul li .logout:hover{
  background-color: #DA722C;
  color: white;
}

.sidebar ul li .an i{
  min-width: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
}

.sidebar .nav-item
{
  opacity: 0;
}
.sidebar.active .nav-item
{
  opacity: 1;
}

.sidebar ul li .tooltip
{
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0  ;
}
.sidebar ul li:hover .tooltip
{
  opacity: 1;
}
.sidebar.active ul li .tooltip
{
 display: none;
}

.main-content{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px); 
  padding: 1rem;
}

.welcome-card .message-recipient{
  color: #023047;
  font-weight: bold;
}
.welcome-card .welcome-text{
  margin-bottom: 5px;
}
.welcome-card{
  display: block;
  width: 65%;
  background-color: #E8F7FB;
  margin-top: 30px;
  margin-left: 50px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #C8C8C8;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 768px) {
  .welcome-card {
    display: none;
  }
}
.info-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card {
  margin-top: 80px;
  position: relative;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.circle {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-color: #023047;
  border-radius: 100%;
}
.circle2{
  display: flex;
  justify-content: center;
  top: -47.5px;
  width: 96px;
  height: 96px;
  background-color: #26308C;
}

.content {
  position: relative;
  bottom: 0px;
  top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.card-value h2{
  color: white;
}
.card-title p{
  color: white;
}
.more-info {
  display: flex;
  align-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px; /* adjust height as needed */
  background-color: rgba(255, 255, 255, 0.8); /* set background color and transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 10px;
}

.more-info p {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: white;
 
}

.admin-application-summary
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.approve-rejected{
  color: red;
  font-weight: bold;
  font-size: 16px;
}
.approved {
  color: green;
  font-weight: bold;
}

.rejected
{
  color: #e60000; /* This is a nice shade of red */
  font-weight: bold;
}
.pending{
  color: orange; 
  font-weight: bold;
}

.sidebar.active {
  color: red;
}
.pagination-tab{
  display: flex;
  justify-content: center;
  margin-top : 10px;
  margin-bottom: 20px;
}

.create-user {
  margin-top: 35px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
}

.create-user h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 24px;
}

.create-user form {
  display: flex;
  flex-direction: column;
}

.create-user .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.create-user label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

.create-user input,
.create-user select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.create-user button[type="submit"] {
  padding: 10px;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.create-user button[type="submit"]:hover {
  background-color: #2edd71;
}

.user-page-tabslist{
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  flex-direction: row;
  
}
.tab{
  padding: 5px;
  display: block;
  border: 1px solid #10185E;
  margin-right: 10px;
  margin-top: 30px;
  background-color:#0077cc;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tab:hover{
  background-color:#10185E;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tab--selected {
  background-color: #10185E;
  transform: translateY(-2px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.create-department-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.create-department-container h1 {
  margin-bottom: 1rem;
}

.create-department-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-department-form label {
  margin-bottom: 0.5rem;
}

.create-department-form input[type="text"],
.create-department-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: inherit;
}

.create-department-form button[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-department-form button[type="submit"]:hover {
  background-color: #2edd71;
}
.delete-department-button{
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #ff0000 !important;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-department-button:hover {
  background-color: #ff5252 !important;
}



/* admin styles end after this comment */



/* student styles go after this comment */

.request-cards-row
{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.request-card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.request-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  align-items: center;
}

.request-card-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.request-card-buttons button {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #10185E;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.request-card-buttons button:hover {
  background-color: #0061a8;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

th,
td {
  text-align: left;
  padding: 0.5em;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6f7ff;
}

td button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 0.25em;
  border-radius: 3px;
  cursor: pointer;
}

td button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

#pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
  padding: 0;
}

#pagination li {
  margin: 0 0.5em;
  padding: 0.25em;
  border-radius: 3px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
}

#pagination li.active {
  background-color: #4CAF50;
  color: #fff;
  border: none;
}
.table-container {
  margin-top: 10px;
}
.table-container-min-height {
  min-height: 200px;
}

.table-container-2 {
  margin-top: 50px;
}





/* career center styles go after this comment */






/* coordinator styles go after this comment */















/* inbox styles go after this comment */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  z-index: 100;
  height: 80px;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-search {
  display: flex;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;
}

.header-search-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: #a0aec0;
}


.header-profile {
  display: flex;
  align-items: center;
}

.header-profile-icon {
  display: flex;
  align-items: center;
  margin-right: 5px;
  color: #a0aec0;
}

.header-profile-text {
  font-weight: bold;
}

.search-input {
  background-color: white; /* set the background color to match the header background color */
  border: none; /* remove the border */
  padding: 10px; /* add some padding to make it more visually appealing */
  border-radius: 5px; /* add rounded corners */
  width: 250px; /* set the width of the input field */
}


.search-input:focus {
  outline: none; /* remove the focus outline */
}
.message-main-container
{
  display: flex;
  flex-direction: row;
  height: calc(95vh - 60px);

}
.inbox-container {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-right: 1px solid #d4d4d4;
  height: 100%;
  width: 40%;
  overflow-y: scroll;
  padding: 20px;
}
.header-compose{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  background-color: #10185E;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 10px;
}
.header-compose .compose-message{
  color:white;
  font-family: Segoe UI;
}
.header-compose:hover{
  background-color: #0066cc;
}
.inbox-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.inbox-header-title {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #4f4f4f;
}

.inbox-header-title span {
  margin-left: 10px;
}
.inbox-message.unread {
  background-color: #f5f5f5; /* Change to your desired color */
  font-weight: bold; /* Add bold text to make it stand out */
}


.inbox-header-messages {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  color: #4f4f4f;
}

.inbox-header-message-count {
  background-color: #10185E;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.inbox-list {
  display: flex;
  flex-direction: column;
}

.inbox-message {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 1px solid grey;
}
.inbox-message.unread {
  background-color: #c4c4c4; /* Change to your desired color */
  font-weight: bold; /* Add bold text to make it stand out */
}

.inbox-message:hover {
  background-color: #ebebeb;
}

.inbox-message-sender-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.inbox-message-sender {
  font-size: 1rem;
  font-weight: 600;
  color: #4f4f4f;
}

.inbox-message-time {
  font-size: 0.8rem;
  color: #9e9e9e;
}

.inbox-message-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4f4f4f;
  margin-bottom: 5px;
}

.inbox-message-content {
  font-size: 1rem;
  color: #4f4f4f;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10px;
}


.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.message-header-title {
  font-weight: bold;
  font-size: 20px;
}

.message-header-date {
  font-size: 14px;
  color: #666;
}

.message-content {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.message-attachments {
  margin-top: 20px;
}

.message-attachment-link {
  display: block;
  margin-bottom: 10px;
  color: #0066cc;
  text-decoration: none;
}

.message-attachment-link:hover {
  text-decoration: underline;
}
.attachment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 5px;
}


.attachment button {
  margin-left: 10px;
}


.message-reply-button {
  margin-top: 20px;
  align-self: flex-end;
  background-color: #10185E;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer; 
}

.message-reply-button:hover {
  background-color: #0066cc;
}
.message-sender{
  color: #023047;
  font-weight: bolder;
  font-size: 24px;
}
.message-title{
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: #fff;
  padding: 1rem;
  width: 500px;
  max-width: 90%;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

select,
input[type="text"],
textarea,
input[type="file"] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

select:focus,
input[type="text"]:focus,
textarea:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #007bff;
}

.btn-compose {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #10185E;
  color: #fff;
  border: none;
}




.btn-primary {
  background-color: #10185E;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
}


